*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#efe7dc;
font-family:Poppins,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

.cover{
background:#fffdf9;
width:85%;
max-width:500px;
padding:60px 40px;
border-radius:18px;
box-shadow:0 15px 40px rgba(0,0,0,.15);
text-align:center;
position:relative;
}

.cover::before{
content:"";
position:absolute;
top:-15px;
left:40px;
width:90px;
height:28px;
background:#d8c1a4;
transform:rotate(-6deg);
opacity:.8;
}

h1{
font-family:"Playfair Display",serif;
font-size:48px;
margin-bottom:15px;
color:#3b2f2f;
}

p{
font-family:Caveat,cursive;
font-size:34px;
margin-bottom:45px;
color:#7a5b4d;
}

button{
padding:15px 35px;
border:none;
border-radius:50px;
background:#7f5a50;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#69473f;
}
.subtitle{
font-size:38px;
margin-bottom:15px;
}

.small{
font-family:Poppins,sans-serif;
font-size:15px;
color:#8b7a70;
margin-bottom:35px;
}

.tape{
position:absolute;
width:90px;
height:28px;
background:#d7c1a0;
opacity:.8;
}

.tape-left{
top:-14px;
left:35px;
transform:rotate(-8deg);
}

.tape-right{
top:-14px;
right:35px;
transform:rotate(8deg);
}
.cover {
  transition: opacity 0.6s ease;
}

.hide {
  opacity: 0;
}
